body{
    padding: 10px;
}
label {
    width: 300px;
    float: left;
  }
  
table {
  width: 30%;
}


tr{
    vertical-align: top;
}

select{
    overflow: hidden; 

}



select:hover{
    overflow-y: scroll;

}

.btn-group{
    padding-left: 2px;
    margin-top: 2px;
}