body{
    padding: 20px;
}
label {
    width: 200px;
    float: left;
  }
  
table {
  width: 30%;
}


tr{
    vertical-align: top;
}

select{
    overflow: hidden; /* Hide scrollbars */
    
}

select:hover{
    overflow-y: scroll;

}

#Select1{
   
}