.container {
  display: flex;
  justify-content: center;
}

.outer-body {
    margin-top: 20px;
    padding: 40px;
  
}

.inner-body {
    width: 300px;
    margin-left: 50px;
}

.header {
  background-image: url("bg_image.jpg");
  text-align: center;
  height: 80px;
  width: 400px;
}

/* css for forms tag */
i {
  position: absolute;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(202, 202, 202);
}

input ,textarea{
  width: 100%;
  padding: 5px 40px 5px 40px;
  text-align: start;
}

.form-group {
  margin-top: 10px;
}

section {
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  vertical-align: middle;
  line-height: 80px;
}

.btn-submit {
  margin-left: 23%;
  background-color: rgb(136, 103, 255);
  box-shadow: 2px 2px 4px 2px rgb(161, 140, 240);
  border: 0px none rgb(136, 103, 255);
  border-radius: 12px;
  width: 150px;
  height: 35px;
  color: beige;
  text-transform: ;
}

input:focus,
textarea:focus,
.btn-submit:focus {
    outline: none;
}


input,textarea{
    border: 2px solid rgb(202, 201, 201);
}

