h3{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;

}

img{
    width: 100px;
    height: 100px;
       
}


table{
    width: 100%;
    border: 2px solid rgb(59, 5, 255);
    text-align: center;
}

tr,td{
    border: 2px solid rgb(59, 5, 255);
}

dialog{
    left: 80%;
    
}