table {
  width: 50%;
  text-align: left;
  font-size: 15px;
height: 50%;
}


table,th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

body {
  display: flex;
  justify-content: center;
}

thead {
  background-color: aqua;
}

td:nth-child(1) {
  background-color: rgba(107, 107, 221, 0.473);
  font-weight: bold;
}

td:nth-child(2) {
  background-color: rgb(255, 244, 224);
}
td:nth-child(3) {
  background-color: pink;
  vertical-align: top;
  padding: 10px;
  text-align: start;
}
td:nth-child(4) {
  background-color: rgb(245, 245, 139);
  vertical-align: top;
}
ul {
  padding-left: 16px;
}
li {
  padding-left: 10px;
}

caption {
  text-align: left;
  font-weight: bold;
}

.div-1 {
/* margin-bottom: 50%; */
    /* vertical-align: top; */
}

.div-2 {
  margin-top: 40%;
  
}
