body {
  text-align: center;
}
.container {
    /* 
        using flex for grouping boxes
    */
  margin: auto;
  align-items: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.item {
  border: solid 2px rgb(119, 119, 119);
  padding: 1px;
}

.image-body {
     
  width: 120px;
  height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.808);

  /* doing text in center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-caption {
  background-color: rgb(197, 197, 197);
  font-style: bold;
  text-transform: uppercase;
  padding: 4px;
  font-size: 8px;
  padding: 1px;
}

hr {
  width: 50%;
  border: 0.1px rgb(160, 160, 160) solid;
}

#data,.img-caption{
    color: dimgrey;
}


