.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin:30px 5% 0 5%;
}

.card-item{
    width: auto;
}

img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
}

.card{
    width: 300px;
    background-color: #ffffff;
    border: none;
}

.card-header{
    background-color: #ffffff;
    border: none;
}

.card-body{
    background-color: #ffffff;
}

hr{
    margin-top: 30px;
    margin-bottom: -15px;
    background-color: rgb(233, 233, 233);
}


.card-footer{
    border: none;
    background-color: #ffffff;
        margin-bottom: 20px;
}

.card{
    box-shadow: 1px  1px 20px 1px rgb(240, 240, 240) ,-1px  -1px 20px 1px rgb(240, 240, 240);
}


@media only screen and (max-width :600px){
    .card{
        width:100%;
    }
}

.footer-person-name{
    font-size: medium;
    font-weight:bolder ;
}

.footer-person-poisition{
    font-size: small;
    color: rgb(94, 94, 94);
    font-weight: 800px;
}

h1{
    font-weight: 600;
    color: black;
}